@font-face {
  font-family: 'Museo Sans';
  src: local("AvenirNextCyr-Bold"), local("AvenirNextCyr-Bold"), url("/catalog/view/theme/theme/fonts/exljbris-Museo-Cyrl-900.woff") format("woff"), url("/catalog/view/theme/theme/fonts/exljbris-Museo-Cyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: local("AvenirNextCyr-Bold"), local("AvenirNextCyr-Bold"), url("/catalog/view/theme/theme/fonts/MuseoSansCyrl-500.woff") format("woff"), url("/catalog/view/theme/theme/fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Roboto", sans-serif; }

.page-wrap {
  margin-top: 45px; }

.body-wrapper {
  overflow-x: hidden; }

.main-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.625rem;
  margin-top: 0;
  color: #ef4334;
  margin-bottom: 20px; }

.sub-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.625rem;
  font-weight: 800;
  color: #303030;
  margin: 0 0 35px; }

.link__alt {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-size: 1.125rem;
  display: inline-block;
  padding: 13px 25px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#1ca4b7), to(#09b7d1));
  background: -o-linear-gradient(top, #1ca4b7 0%, #09b7d1 100%);
  background: linear-gradient(180deg, #1ca4b7 0%, #09b7d1 100%); }
  .link__alt:hover {
    text-decoration: none;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef4334), to(#ef4334));
    background: -o-linear-gradient(top, #ef4334 0%, #ef4334 100%);
    background: linear-gradient(180deg, #ef4334 0%, #ef4334 100%); }

header {
  margin-bottom: 30px; }
  header #top {
    background-color: #f3f3f3; }
    header #top .list-links {
      margin: 0;
      padding: 0; }
      header #top .list-links li {
        list-style: none; }
        header #top .list-links li a {
          text-decoration: none;
          font-size: 1.125rem;
          color: #000;
          font-weight: 100;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          padding: 7px 18px;
          position: relative;
          display: block; }
          header #top .list-links li a:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            width: 2px;
            background-color: #b2b2b2;
            height: 16px; }
          header #top .list-links li a:hover {
            color: #ef4334;
            text-decoration: none; }
      header #top .list-links li:last-child a:after {
        display: none; }
    header #top #create-order-link {
      position: relative; }
      header #top #create-order-link a {
        text-decoration: none;
        display: block;
        background-color: #07b9d3;
        color: #fff;
        font-weight: 300;
        padding: 13px 18px;
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        header #top #create-order-link a:hover:before {
          border-right: 10px solid #ef4334; }
        header #top #create-order-link a:hover {
          text-decoration: none;
          background-color: #ef4334; }
        header #top #create-order-link a:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 0 solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid #066e7d;
          position: absolute;
          left: -10px;
          bottom: 0;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
  header .center-header {
    padding: 20px 0; }
    header .center-header .phone-block a {
      text-decoration: none;
      display: block;
      font-weight: 400;
      font-size: 20px;
      color: #000; }
      header .center-header .phone-block a:hover {
        text-decoration: none; }
        header .center-header .phone-block a:hover p {
          color: #ef4334; }
      header .center-header .phone-block a img {
        max-width: 100%;
        width: 15px; }
      header .center-header .phone-block a p {
        margin-bottom: 0;
        padding-left: 15px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
    header .center-header .delivery-block p {
      margin-bottom: 0;
      padding-left: 10px;
      font-weight: 300;
      color: #ff7759; }
    header .center-header .search-block-walp {
      border: 2px solid #919191;
      border-radius: 28px;
      padding: 0 11px; }
      header .center-header .search-block-walp .btn.btn-default.btn-lg {
        padding-top: 4px;
        padding-bottom: 4px; }
      header .center-header .search-block-walp input {
        border: none;
        min-width: 220px; }
        header .center-header .search-block-walp input:active, header .center-header .search-block-walp input:focus {
          outline: none;
          -webkit-box-shadow: none;
                  box-shadow: none; }
      header .center-header .search-block-walp i {
        color: #919191;
        font-size: 17px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        header .center-header .search-block-walp i:hover {
          color: #ef4334; }
    header .center-header #cart {
      position: relative; }
      header .center-header #cart .dropdown-toggle::after {
        display: none; }
      header .center-header #cart button {
        padding: 0;
        margin-bottom: 10px; }
        header .center-header #cart button > div {
          width: 127px;
          margin: 0 0 0 auto; }
      header .center-header #cart h3 {
        font-weight: 100;
        margin: 0;
        font-size: 1rem; }
      header .center-header #cart span.price {
        font-weight: 300;
        font-size: 1rem; }
      header .center-header #cart .second {
        padding-left: 35px; }
      header .center-header #cart #cart-total {
        font-size: .75rem;
        color: #fff;
        background-color: #0498ae;
        padding: 1px 6px;
        position: absolute;
        top: 1px;
        right: -20px;
        border-radius: 50%; }
    header .center-header #favorite a {
      text-decoration: none;
      display: block;
      color: red;
      font-weight: 300; }
    header .center-header #favorite i {
      color: red;
      font-size: 22px; }
    header .center-header #favorite p {
      margin-bottom: 0;
      text-decoration: underline;
      padding-left: 5px; }
    header .center-header #favorite .count {
      color: #000;
      padding-left: 5px; }

header {
  margin-bottom: 0; }
  header .col-1.delivery-block {
    padding-right: 0;
    min-width: 155px; }
  header .col.search-block {
    padding-left: 0; }
  header .bottom-header {
    background-color: #ef4537; }
    header .bottom-header .first p {
      margin-bottom: 0;
      margin-right: 13px;
      font-weight: 400;
      font-size: 1.25rem;
      color: #fff; }
    header .bottom-header .second .list-links {
      margin: 0;
      padding: 0; }
      header .bottom-header .second .list-links li {
        list-style: none; }
        header .bottom-header .second .list-links li a {
          text-decoration: none;
          color: #fff;
          font-size: 1.125rem;
          font-weight: 400;
          padding: 10.5px 5px;
          display: inline-block;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          header .bottom-header .second .list-links li a:hover {
            background-color: #cc3428; }

.home-banner {
  height: 520px;
  width: 100%;
  margin-bottom: 60px;
  background-size: cover !important; }
  .home-banner .content .text {
    font-family: "Museo Sans";
    font-weight: 900;
    font-size: 84px;
    width: 504px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    text-align: left; }
    .home-banner .content .text span {
      font-family: "Museo Sans";
      font-weight: 900;
      font-size: 84px;
      color: #07b9d3;
      text-align: right;
      margin: 0 0 0 auto;
      display: block; }
  .home-banner .link {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background-color: #ef4334;
    padding: 9px 55px;
    text-decoration: none;
    display: table;
    -webkit-box-shadow: 4px 8px 5px 2px #333;
            box-shadow: 4px 8px 5px 2px #333;
    margin: 30px auto 0 auto;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .home-banner .link:hover {
      text-decoration: none;
      color: #fff;
      background-color: #07b9d3; }

.middle-banner {
  height: 390px;
  width: 100%; }
  .middle-banner .content {
    text-align: left; }
    .middle-banner .content .title {
      font-family: "Museo Sans";
      font-weight: 900;
      font-size: 34px;
      line-height: 1;
      color: #fff;
      text-transform: uppercase; }
    .middle-banner .content .text {
      font-size: 26px;
      font-weight: 500;
      color: #07b9d3;
      font-family: "Museo Sans";
      margin-top: 20px; }
  .middle-banner .link {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #ef4334;
    padding: 6px 60px;
    margin-top: 15px;
    text-decoration: none;
    -webkit-box-shadow: 4px 8px 5px 2px #333;
            box-shadow: 4px 8px 5px 2px #333;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: inline-block; }
    .middle-banner .link:hover {
      text-decoration: none;
      color: #fff;
      background-color: #07b9d3; }

.bottom-banner {
  height: 430px; }
  .bottom-banner .content {
    text-align: left; }
    .bottom-banner .content .title {
      font-family: "Museo Sans";
      font-weight: 900;
      font-size: 38px;
      line-height: 1;
      color: #303030;
      text-transform: uppercase; }
    .bottom-banner .content .text {
      font-weight: 500;
      font-size: 38px;
      text-transform: uppercase;
      color: #ef4334;
      font-family: "Museo Sans";
      margin-top: 20px;
      width: 65%;
      line-height: 1.3; }
  .bottom-banner .link {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #ef4334;
    padding: 6px 60px;
    margin-top: 15px;
    text-decoration: none;
    -webkit-box-shadow: 0px 6px 5px 2px #dcdcdc;
            box-shadow: 0px 6px 5px 2px #dcdcdc;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: inline-block; }
    .bottom-banner .link:hover {
      text-decoration: none;
      color: #fff;
      background-color: #07b9d3; }

.products-filter-list-section .categories-block,
.products-list-section .categories-block,
.product-page .categories-block {
  margin-bottom: 40px; }
  .products-filter-list-section .categories-block .text,
  .products-list-section .categories-block .text,
  .product-page .categories-block .text {
    color: #303030;
    font-size: 1.25rem;
    font-weight: 300; }
  .products-filter-list-section .categories-block .lists-cats,
  .products-list-section .categories-block .lists-cats,
  .product-page .categories-block .lists-cats {
    margin: 0;
    padding: 0 0 0 25px; }
    .products-filter-list-section .categories-block .lists-cats li,
    .products-list-section .categories-block .lists-cats li,
    .product-page .categories-block .lists-cats li {
      list-style: none; }
      .products-filter-list-section .categories-block .lists-cats li a,
      .products-list-section .categories-block .lists-cats li a,
      .product-page .categories-block .lists-cats li a {
        display: inline-block;
        color: #303030;
        font-weight: 300;
        padding: 4px 9px;
        border: 1px solid #ef4334;
        margin-left: 8px;
        font-size: 1.25rem; }
        .products-filter-list-section .categories-block .lists-cats li a:hover, .products-filter-list-section .categories-block .lists-cats li a.active,
        .products-list-section .categories-block .lists-cats li a:hover,
        .products-list-section .categories-block .lists-cats li a.active,
        .product-page .categories-block .lists-cats li a:hover,
        .product-page .categories-block .lists-cats li a.active {
          background-color: #ef4334;
          color: #fff;
          text-decoration: none; }

.products-filter-list-section .product-list,
.products-list-section .product-list,
.product-page .product-list {
  margin: 0;
  padding: 0; }
  .products-filter-list-section .product-list li,
  .products-list-section .product-list li,
  .product-page .product-list li {
    list-style: none; }
    .products-filter-list-section .product-list li.product-item,
    .products-list-section .product-list li.product-item,
    .product-page .product-list li.product-item {
      margin-bottom: 75px; }
      .products-filter-list-section .product-list li.product-item .image,
      .products-list-section .product-list li.product-item .image,
      .product-page .product-list li.product-item .image {
        margin-bottom: 10px; }
        .products-filter-list-section .product-list li.product-item .image .add-wishlist,
        .products-list-section .product-list li.product-item .image .add-wishlist,
        .product-page .product-list li.product-item .image .add-wishlist {
          background: transparent;
          border: none;
          position: absolute;
          top: 0;
          right: 0; }
          .products-filter-list-section .product-list li.product-item .image .add-wishlist i,
          .products-list-section .product-list li.product-item .image .add-wishlist i,
          .product-page .product-list li.product-item .image .add-wishlist i {
            color: #ef4334;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            opacity: .5; }
      .products-filter-list-section .product-list li.product-item h3,
      .products-list-section .product-list li.product-item h3,
      .product-page .product-list li.product-item h3 {
        margin: 0 0 15px; }
        .products-filter-list-section .product-list li.product-item h3 a,
        .products-list-section .product-list li.product-item h3 a,
        .product-page .product-list li.product-item h3 a {
          color: #303030;
          font-size: 1rem;
          text-decoration: none;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          display: inline-block; }
          .products-filter-list-section .product-list li.product-item h3 a:hover,
          .products-list-section .product-list li.product-item h3 a:hover,
          .product-page .product-list li.product-item h3 a:hover {
            color: #ef4334;
            text-decoration: none; }
      .products-filter-list-section .product-list li.product-item .price,
      .products-list-section .product-list li.product-item .price,
      .product-page .product-list li.product-item .price {
        margin: 0;
        font-weight: 400;
        font-size: 1.5rem;
        color: #303030; }
      .products-filter-list-section .product-list li.product-item .add-to-cart,
      .products-list-section .product-list li.product-item .add-to-cart,
      .product-page .product-list li.product-item .add-to-cart {
        background-color: #ef4334;
        padding: 5px 12px;
        font-weight: 400;
        color: #fff;
        border: none;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .products-filter-list-section .product-list li.product-item .add-to-cart:hover,
        .products-list-section .product-list li.product-item .add-to-cart:hover,
        .product-page .product-list li.product-item .add-to-cart:hover {
          background-color: #07b9d3; }

.products-filter-list-section .info-block,
.products-list-section .info-block,
.product-page .info-block {
  margin-bottom: 45px; }
  .products-filter-list-section .info-block .content,
  .products-list-section .info-block .content,
  .product-page .info-block .content {
    font-size: 1.25rem;
    color: #303030;
    font-weight: 400;
    padding-left: 30px; }
    .products-filter-list-section .info-block .content span,
    .products-list-section .info-block .content span,
    .product-page .info-block .content span {
      font-size: 0.75rem; }
    .products-filter-list-section .info-block .content a,
    .products-list-section .info-block .content a,
    .product-page .info-block .content a {
      text-decoration: none;
      color: #303030;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .products-filter-list-section .info-block .content a:hover,
      .products-list-section .info-block .content a:hover,
      .product-page .info-block .content a:hover {
        color: #ef4334;
        text-decoration: none; }

.bottom__link-all {
  margin: 0 0 80px; }
  @media (max-width: 991px) {
    .bottom__link-all {
      margin: 0 0 35px; } }

.fruits-products .image img {
  width: 100%; }

.products-carousel-section .carousel-wrapper {
  margin-bottom: 55px; }

.products-carousel-section .list-products-carousel {
  margin: 0;
  padding: 0; }
  .products-carousel-section .list-products-carousel .slick-arrow {
    background-color: #c1c1c1;
    padding: 17px 15px;
    height: auto;
    background-image: url(/catalog/view/theme/theme/images/main/arrow.png);
    background-repeat: no-repeat;
    background-position: 9px;
    z-index: 10;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .products-carousel-section .list-products-carousel .slick-arrow:hover {
      background-color: #ef4334 !important; }
  .products-carousel-section .list-products-carousel .slick-next {
    right: 18px;
    -webkit-transform: rotateZ(180deg) translateY(50%);
        -ms-transform: rotate(180deg) translateY(50%);
            transform: rotateZ(180deg) translateY(50%); }
    .products-carousel-section .list-products-carousel .slick-next:before {
      display: none; }
  .products-carousel-section .list-products-carousel .slick-prev {
    left: 18px; }
    .products-carousel-section .list-products-carousel .slick-prev:before {
      display: none; }
  .products-carousel-section .list-products-carousel li {
    padding: 0 20px;
    list-style: none;
    margin-bottom: 0 !important; }
    .products-carousel-section .list-products-carousel li.product-item {
      margin-bottom: 75px; }
      .products-carousel-section .list-products-carousel li.product-item .image {
        margin-bottom: 10px; }
        .products-carousel-section .list-products-carousel li.product-item .image .add-wishlist {
          background: transparent;
          border: none;
          position: absolute;
          top: 0;
          right: 0; }
          .products-carousel-section .list-products-carousel li.product-item .image .add-wishlist i {
            color: #ef4334;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            opacity: .5; }
      .products-carousel-section .list-products-carousel li.product-item h3 {
        margin: 0 0 15px; }
        .products-carousel-section .list-products-carousel li.product-item h3 a {
          color: #303030;
          font-size: 1rem;
          text-decoration: none;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          display: inline-block; }
          .products-carousel-section .list-products-carousel li.product-item h3 a:hover {
            color: #ef4334;
            text-decoration: none; }
      .products-carousel-section .list-products-carousel li.product-item .price {
        margin: 0;
        font-weight: 400;
        font-size: 1.5rem;
        color: #303030; }
      .products-carousel-section .list-products-carousel li.product-item .add-to-cart {
        background-color: #ef4334;
        padding: 5px 12px;
        font-weight: 400;
        color: #fff;
        border: none;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .products-carousel-section .list-products-carousel li.product-item .add-to-cart:hover {
          background-color: #07b9d3; }

.products-carousel-section .carousel-arrows {
  margin: 0;
  padding: 0; }
  .products-carousel-section .carousel-arrows li {
    list-style: none; }
  .products-carousel-section .carousel-arrows__left-link, .products-carousel-section .carousel-arrows__right-link {
    padding: 4px 11px;
    background-color: #c1c1c1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .products-carousel-section .carousel-arrows__left-link:hover, .products-carousel-section .carousel-arrows__right-link:hover {
      background-color: #ef4334; }
  .products-carousel-section .carousel-arrows__right-link {
    right: 20px; }
    .products-carousel-section .carousel-arrows__right-link img {
      -webkit-transform: rotateZ(180deg);
          -ms-transform: rotate(180deg);
              transform: rotateZ(180deg); }
  .products-carousel-section .carousel-arrows__left-link {
    left: 20px; }

.product-page.bottom h2 {
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #303030;
  font-size: 1.625rem;
  margin-bottom: 60px; }

.product-page.bottom .image-block:hover .main {
  display: none; }

.product-page.bottom .image-block:hover .hover {
  display: inline-block !important; }

.product-page.bottom .image-block .hover {
  display: none; }

.product-page.center {
  margin-bottom: 65px; }

#map {
  width: 100%;
  height: 355px;
  overflow: hidden;
  border-top-right-radius: 170px;
  border-bottom-right-radius: 170px; }

.link-banner img {
  max-width: 100%; }

.top-filter .list-group-item {
  border: none; }

.top-filter .noUi-marker-horizontal.noUi-marker {
  display: none; }

.top-filter .noUi-background,
.top-filter #scale-price {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ef4334;
  height: 8px; }
  .top-filter .noUi-background .noUi-connect,
  .top-filter #scale-price .noUi-connect {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #07b9d3; }

.top-filter .noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  left: -5px;
  top: -4px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #07b9d3;
  border-radius: 50%;
  overflow: hidden; }

.top-filter .noUi-handle:after,
.top-filter .noUi-handle:before {
  display: none; }

.top-filter .noUi-value-horizontal {
  color: #303030;
  font-size: 1.25rem;
  font-weight: 300; }

.top-filter .noUi-value-horizontal {
  -webkit-transform: translate3d(-53%, 10%, 0);
          transform: translate3d(-53%, 10%, 0); }

.top-filter .scale {
  margin-bottom: 70px; }

.top-filter .ocfilter-option .option-name {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif; }

#ocfilter-button .btn-primary {
  top: 25px;
  position: relative;
  background-color: #07b9d3;
  border: none;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  #ocfilter-button .btn-primary:hover {
    background-color: #ef4334; }
  #ocfilter-button .btn-primary.disabled {
    display: none; }

.products-filter-list-section .ui-slider-float .ui-slider-tip, .products-filter-list-section .ui-slider-float .ui-slider-tip-label {
  width: 60px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #ef4334;
  border: none; }

.products-filter-list-section .ui-state-default, .products-filter-list-section .ui-widget-content .ui-state-default, .products-filter-list-section .ui-widget-header .ui-state-default {
  border: none !important;
  border-radius: 50%;
  background: #07b9d3 !important;
  top: -6px; }

.products-filter-list-section .ui-widget-header {
  background-color: #07b9d3; }

.products-filter-list-section .ui-widget-content {
  border: none;
  background: red !important;
  height: 7px;
  border-radius: 10px !important; }

.products-filter-list-section .ui-slider-float .ui-slider-tip:before, .products-filter-list-section .ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
  display: none; }

.products-filter-list-section .ui-slider-float .ui-slider-tip:after, .products-filter-list-section .ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
  border: 9px solid rgba(255, 255, 255, 0);
  border-top-color: red;
  position: absolute;
  bottom: -15px;
  left: 19%;
  margin-left: -5px; }

.products-filter-list-section .filter-block .price-between {
  padding-top: 20px;
  margin-left: -10px; }

.products-filter-list-section .filter-block .first {
  background: url(/image/filter-bg.png) no-repeat !important;
  background-position: 0 -39px !important;
  background-size: cover !important; }
  .products-filter-list-section .filter-block .first .radio-input {
    margin: 16px 0;
    display: block;
    cursor: pointer; }
    .products-filter-list-section .filter-block .first .radio-input img {
      position: absolute;
      right: 9px;
      top: 9px;
      width: 14px; }
    .products-filter-list-section .filter-block .first .radio-input input {
      display: none; }
      .products-filter-list-section .filter-block .first .radio-input input + span {
        font-size: 1.25rem;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        line-height: 20px;
        height: 20px;
        padding-left: 20px;
        display: block;
        position: relative; }
        .products-filter-list-section .filter-block .first .radio-input input + span:not(:empty) {
          padding-left: 28px; }
        .products-filter-list-section .filter-block .first .radio-input input + span:before, .products-filter-list-section .filter-block .first .radio-input input + span:after {
          content: '';
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
          left: 0;
          top: 0;
          position: absolute; }
        .products-filter-list-section .filter-block .first .radio-input input + span:before {
          background: #333;
          -webkit-transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
          transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
          -o-transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
          transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
          transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2); }
        .products-filter-list-section .filter-block .first .radio-input input + span:after {
          background: #fff;
          -webkit-transform: scale(0.78);
              -ms-transform: scale(0.78);
                  transform: scale(0.78);
          -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
          transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
          -o-transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
          transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
          transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4); }
      .products-filter-list-section .filter-block .first .radio-input input:checked + span:before {
        -webkit-transform: scale(1.04);
            -ms-transform: scale(1.04);
                transform: scale(1.04);
        background: #fff; }
      .products-filter-list-section .filter-block .first .radio-input input:checked + span:after {
        background-color: #07b9d3;
        -webkit-transform: scale(0.4);
            -ms-transform: scale(0.4);
                transform: scale(0.4);
        -webkit-transition: -webkit-transform .3s ease;
        transition: -webkit-transform .3s ease;
        -o-transition: transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease; }

.products-filter-list-section .active-element {
  z-index: -1;
  position: absolute;
  top: -6px;
  left: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding: 16px 15px;
  background-color: #07b9d3;
  width: 98%;
  margin-left: 8px;
  border-radius: 17px;
  opacity: 0; }

.products-filter-list-section .active span {
  color: #fff; }

.products-filter-list-section .active .active-element {
  opacity: 1; }

.products-filter-list-section #clear-filter {
  margin-top: 50px;
  font-weight: 300; }
  .products-filter-list-section #clear-filter a {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #303030; }
    .products-filter-list-section #clear-filter a img {
      text-decoration: none; }
    .products-filter-list-section #clear-filter a span {
      text-decoration: underline;
      padding-left: 2px; }
    .products-filter-list-section #clear-filter a:hover {
      color: #ef4334; }
      .products-filter-list-section #clear-filter a:hover img {
        text-decoration: none; }

.filter-block {
  margin-bottom: 50px; }

.page-wrap h1 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ef4334;
  font-size: 1.625rem;
  text-transform: uppercase;
  margin-bottom: 35px; }

.page-wrap h2 {
  text-transform: uppercase;
  margin-bottom: 35px;
  color: #ef4334;
  font-weight: bold;
  font-size: 1.625rem;
  text-align: center;
  width: 100%; }

.information-information-8 .banner-section {
  margin-bottom: 50px;
  font-family: "Museo Sans";
  color: #fff; }
  .information-information-8 .banner-section img {
    max-width: 100%; }
  .information-information-8 .banner-section .text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 4.6875rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1; }
    .information-information-8 .banner-section .text span {
      color: #07b9d3; }
    .information-information-8 .banner-section .text p {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 1.25rem; }

.information-information-8 .description-section {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 60px; }
  .information-information-8 .description-section * {
    width: 80%;
    margin: 0 auto;
    display: block; }

.information-information-8 .featured-section {
  margin-bottom: 35px; }
  .information-information-8 .featured-section .item p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    position: absolute;
    top: 170px;
    width: 60%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-left: -8px; }
  .information-information-8 .featured-section .second .item {
    margin-left: 0 !important; }

.link-order {
  font-size: 1.625rem;
  color: #fff;
  text-decoration: none;
  background-color: #ef4334;
  padding: 10px 20px;
  margin: 0 auto 50px auto;
  display: table;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .link-order:hover {
    text-decoration: none;
    color: #fff;
    background-color: #07b9d3; }

.contact-page-section {
  margin-bottom: 70px; }
  .contact-page-section .image-block:hover .main {
    display: none; }
  .contact-page-section .image-block:hover .hover {
    display: inline-block !important; }
  .contact-page-section .image-block .hover {
    display: none; }
  .contact-page-section h3 {
    margin: 0 0 25px;
    font-size: 1.375rem;
    font-weight: 400;
    color: #000; }
  .contact-page-section .wrap-info-block {
    margin-bottom: 45px; }
    .contact-page-section .wrap-info-block a {
      text-decoration: none;
      color: #303030;
      font-size: 1.25rem;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .contact-page-section .wrap-info-block a:hover {
        color: #ef4334; }
    .contact-page-section .wrap-info-block .content {
      margin-left: 20px; }
      .contact-page-section .wrap-info-block .content span {
        color: #303030;
        font-size: 0.875rem; }

.information-information-6 h1 {
  opacity: 0;
  margin: 0;
  height: 0;
  overflow: hidden; }

.information-information-6 #content {
  display: none; }

.pay-delivery-page-section {
  position: relative;
  overflow: hidden; }
  .pay-delivery-page-section:nth-child(3):before {
    content: "";
    display: block;
    right: 0;
    position: absolute;
    background: url("/catalog/view/theme/theme/images/main/bg-delivery.png");
    background-repeat: no-repeat !important;
    width: 700px;
    height: 500px; }
  .pay-delivery-page-section h2 {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #ef4334;
    font-size: 1.625rem;
    text-transform: uppercase;
    margin-bottom: 35px; }
  .pay-delivery-page-section .description {
    text-align: center;
    width: 80%;
    margin: 0 auto 70px auto;
    display: block;
    font-size: 1.25rem; }
  .pay-delivery-page-section .feature-row {
    margin: 0 auto; }
    .pay-delivery-page-section .feature-row .item {
      margin-bottom: 90px; }
      .pay-delivery-page-section .feature-row .item img {
        margin: 0 auto 30px auto;
        display: block; }
      .pay-delivery-page-section .feature-row .item p {
        text-align: center;
        margin: 0;
        font-size: 1.125rem; }
        .pay-delivery-page-section .feature-row .item p span {
          color: #07b9d3;
          font-weight: bold; }
  .pay-delivery-page-section .feature-row-alt .features-list {
    margin: 0 0 49px;
    padding: 0; }
    .pay-delivery-page-section .feature-row-alt .features-list li {
      list-style: none;
      margin-bottom: 15px; }
      .pay-delivery-page-section .feature-row-alt .features-list li img {
        margin-right: 15px; }
      .pay-delivery-page-section .feature-row-alt .features-list li p {
        font-size: 1.125rem;
        margin-bottom: 0; }
        .pay-delivery-page-section .feature-row-alt .features-list li p span {
          color: #07b9d3;
          font-weight: bold; }

footer {
  position: relative;
  padding: 30px 0;
  font-family: "Roboto", sans-serif;
  background-size: cover !important;
  background: url("/catalog/view/theme/theme/images/main/footer-bg.jpg");
  z-index: -2; }
  footer:before {
    content: "";
    background: url("/catalog/view/theme/theme/images/main/footer-icon-two.png");
    width: 265px;
    height: 242px;
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: -1; }
  footer:after {
    content: "";
    background: url("/catalog/view/theme/theme/images/main/footer-icon-one.png");
    width: 216px;
    height: 268px;
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: -1; }
  footer .list-links,
  footer .text-list {
    margin: 0;
    padding: 0; }
  footer .list-links li,
  footer .text-list li {
    list-style: none; }
    footer .list-links li a,
    footer .list-links li p,
    footer .text-list li a,
    footer .text-list li p {
      text-decoration: none;
      font-weight: 400;
      color: #fff;
      font-size: 1.125rem; }
    footer .list-links li a,
    footer .text-list li a {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      footer .list-links li a:hover,
      footer .text-list li a:hover {
        color: #ef4334; }
  footer .footer-logo {
    display: block;
    margin-bottom: 35px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    footer .footer-logo:hover {
      opacity: .6; }
  footer .top p {
    margin-bottom: 0;
    font-weight: 400;
    color: #fff;
    font-size: 1.125rem;
    padding-left: 12px; }
  footer .top .footer-img-delivery {
    width: 36px;
    height: 36px; }
  footer .bottom-copyright {
    display: block;
    margin-top: 35px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.125rem;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    footer .bottom-copyright:hover {
      color: #ef4334;
      text-decoration: none; }
    footer .bottom-copyright span {
      text-decoration: underline; }

@media (max-width: 1420px) {
  .middle-banner.position-relative {
    background-position: 50% 0 !important;
    background-repeat: no-repeat !important; }
  .bottom-banner.position-relative {
    background-position: 65% 0 !important;
    background-repeat: no-repeat !important; }
  footer:before {
    left: -10%; }
  footer:after {
    right: 0; } }

@media (min-width: 992px) {
  .mb-lg-90 {
    margin-bottom: 90px; } }

@media (max-width: 991px) {
  .mb-sm-30 {
    margin-bottom: 30px; } }
